body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.slider {
    max-width: 600px;
    margin: 50px auto;
    position: relative;
}

#sliderImage {
    max-width: 100%;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
